// This file has to be named `_smui-theme.scss` for it to build properly with
// the smui-theme package.
//
// If this file is changed, then the dev server needs to be restarted to
// regenerate styles.

@use 'sass:color';

@use '@material/theme/color-palette';

// The below allows for styles from MDC to be used in Svelte. For example:
// var(--mdc-theme-primary)
// @use '@material/theme/styles';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #098e1f,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: color-palette.$red-700
);

// Adds all the typogoraphy classes to the global styles. Those are:
//   mdc-typography--headline1
//   mdc-typography--headline2
//   mdc-typography--headline3
//   mdc-typography--headline4
//   mdc-typography--headline5
//   mdc-typography--headline6
//   mdc-typography--subtitle1
//   mdc-typography--subtitle2
//   mdc-typography--body1
//   mdc-typography--body2
//   mdc-typography--caption
//   mdc-typography--button
//   mdc-typography--overline
//   mdc-typography--body1
@use '@material/typography/mdc-typography';
// Import the mixins.
@use '@material/typography/mixins' as typography;

// Import the colors last. Order matters in this file. This allows usage
// of vars from MDC
@use '@material/theme/styles';

html,
body {
  background-color: #000;
  color: theme.$on-surface;
  margin: 0px;
  height: 100%;
}
a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

// --- Typography Defaults ---
html {
  @include typography.typography('body1');
}
h1 {
  @include typography.typography('headline1');
}
h2 {
  @include typography.typography('headline2');
}
h3 {
  @include typography.typography('headline3');
}
h4 {
  @include typography.typography('headline4');
}
h5 {
  @include typography.typography('headline5');
}
h6 {
  @include typography.typography('headline6');
}
caption {
  @include typography.typography('caption');
}
code,
pre {
  font-family: 'Roboto Mono', monospace;
}
small {
  font-size: 0.9em;
}
big {
  font-size: 1.1em;
}
b,
strong {
  font-weight: bold;
}
