// This file has to be named `_smui-theme.scss` for it to build properly with
// the smui-theme package.
//
// If this file is changed, then the dev server needs to be restarted to
// regenerate styles.

@use 'sass:color';

// Import overall colors
@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
// If this is updated, make sure to update the colors in the `manifest.json` file
// as well.
@use '@material/theme/index' as theme with (
  $primary: #098e1f,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: color-palette.$red-700
);

// Adds all the typogoraphy classes to the global styles. Those are:
//   mdc-typography--headline1
//   mdc-typography--headline2
//   mdc-typography--headline3
//   mdc-typography--headline4
//   mdc-typography--headline5
//   mdc-typography--headline6
//   mdc-typography--subtitle1
//   mdc-typography--subtitle2
//   mdc-typography--body1
//   mdc-typography--body2
//   mdc-typography--caption
//   mdc-typography--button
//   mdc-typography--overline
//   mdc-typography--body1
@use '@material/typography/mdc-typography';
@use '@smui/snackbar/style' as smui-snackabar;

// Import the mixins.
@use '@material/typography/mixins' as typography;
@use '@material/snackbar/mixins' as snackbar;
@use '@material/button/mixins' as button;
@use '@material/icon-button/mixins' as icon-button;

// Import the colors last. Order matters in this file. This allows usage
// of vars from MDC
@use '@material/theme/styles';
@use '@material/theme/theme-color';

// Customized MDC Components
.mdc-snackbar.success {
  @include snackbar.fill-color(color-palette.$green-500);
  @include snackbar.label-ink-color(theme-color.accessible-ink-color(color-palette.$green-500));
}
.mdc-snackbar.warning {
  @include snackbar.fill-color(color-palette.$orange-500);
  @include snackbar.label-ink-color(theme-color.accessible-ink-color(color-palette.$orange-500));
}
.mdc-snackbar.error {
  @include snackbar.fill-color(color-palette.$red-500);
  @include snackbar.label-ink-color(theme-color.accessible-ink-color(color-palette.$red-500));
}
.danger-button {
  &.mdc-button {
    @include button.ink-color(color-palette.$red-500);
  }
  &.mdc-button--unelevated,
  &.mdc-button--raised {
    @include button.filled-accessible(color-palette.$red-500);
  }
  &.mdc-button--outlined {
    @include button.outline-color(color-palette.$red-500);
    @include button.ink-color(color-palette.$red-500);
  }
  @include button.ripple-states(color-palette.$red-500);
  @include icon-button.ink-color(color-palette.$red-500);
  @include icon-button.disabled-ink-color(color-palette.$red-500);
}

// Custom colors for use in components
// These have to be defined as a variable first, then used in the :root
$success: color-palette.$green-500;
$text-on-success: theme-color.accessible-ink-color(color-palette.$green-500);
:root {
  --success: #{$success};
  --text-on-success: #{$text-on-success};
}

// --- Global Styles ---

html,
body {
  background-color: #000;
  color: theme.$on-surface;
  margin: 0px;
  height: 100%;
}
a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

// --- Typography Defaults ---
html {
  @include typography.typography('body1');
}
h1 {
  @include typography.typography('headline1');
}
h2 {
  @include typography.typography('headline2');
}
h3 {
  @include typography.typography('headline3');
}
h4 {
  @include typography.typography('headline4');
}
h5 {
  @include typography.typography('headline5');
}
h6 {
  @include typography.typography('headline6');
}
caption {
  @include typography.typography('caption');
}
code,
pre {
  font-family: 'Roboto Mono', monospace;
}
small {
  font-size: 0.9em;
}
big {
  font-size: 1.1em;
}
b,
strong {
  font-weight: bold;
}
