.dimmed-color {
  color: var(--mdc-theme-text-hint-on-background, rgba(255, 255, 255, 0.5));
}

.small-icon {
  font-size: 16px;
}

.x-small-icon {
  font-size: 14px;
}

.mdc-text-field--textarea .mdc-text-field__input {
  min-height: 5lh;
}

/* For adjusting the width of text areas */
span:has(> .mdc-text-field__input) {
  width: 100%;
}
